{%  extends 'base.html.twig' %}

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}

<h1>Création d'un bien </h1>

{{ form_start(formArticle) }}

    {{ form_row(formArticle.title, {'attr': {'placeholder' : "Nom du bien"}}) }}
    {{ form_row(formArticle.content, {'attr': {'placeholder' : "Description du bien"}}) }}
    {{ form_row(formArticle.image, {'attr': {'placeholder' : "image"}}) }}

    <button type="submit" class="btn btn-success">envoyer</button>

{{ form_end(formArticle) }}

{% endblock %}